export USING_GEOIMAGENET_COMPOSE=1

export HOST_FQDN=localhost
export POSTGIS_DB=gis
export POSTGIS_USER=docker
export POSTGIS_PASSWORD=docker
export SSL_CERTIFICATE="/root/nginx/ssl/cert.pem"  # path to the nginx ssl certificate, path and key bundle
export MAGPIE_ADMIN_PW=

export GEOIMAGENET_API_SENTRY_URL=
export GEOIMAGENET_API_GS_DATASTORE_URL=
export GEOIMAGENET_API_GS_MIRROR_PASSWORD=
export GEOIMAGENET_API_GS_DATASTORE_PASSWORD=
