export USING_PAVICS_COMPOSE=1

export HOST_FQDN=localhost
export POSTGIS_DB=gis
export POSTGIS_USER=docker
export POSTGIS_PASSWORD=docker
export SSL_CERTIFICATE="/root/nginx/ssl/cert.pem"  # path to the nginx ssl certificate, path and key bundle
