export SSL_CERTIFICATE="/root/nginx/ssl/cert.pem"  # path to the nginx ssl certificate, path and key bundle
export PAVICS_FQDN="outarde.crim.ca" # Fully qualified domain name of this Pavics installation
export DOC_URL="https://www.crim.ca/confluence/display/PAV/${PAVICS_FQDN%%.*}" # URL where /doc gets redirected
export MAGPIE_USER="admin"
export MAGPIE_PW="qwerty"
export MAGPIE_ADMIN_PW=qwerty
export PHOENIX_PASSWORD=P4v1cs
export PHOENIX_PASSWORD_HASH=sha256:f9d1f6189e25:40fe26c031985ff68613a06442fad51c76bd06deae418e3fef25775148ec616f
export SUPPORT_EMAIL=pavics-dev@crim.ca
export CMIP5_THREDDS_ROOT=birdhouse/CMIP5/CCCMA
