MAGPIE_URL=https://${HOST_FQDN}/magpie
MAGPIE_SECRET=${MAGPIE_SECRET}
MAGPIE_ADMIN_GROUP=administrators
MAGPIE_ADMIN_USER=admin
MAGPIE_ADMIN_PASSWORD=${MAGPIE_ADMIN_PW}
MAGPIE_USER_GROUP=users
MAGPIE_ANONYMOUS_USER=anonymous
MAGPIE_PORT=2001
GITHUB_CLIENT_ID=0b29551242c577b7a322
GITHUB_CLIENT_SECRET=f6213d72788862730b3430918d47081403e28b06
PHOENIX_USER=phoenix
PHOENIX_PASSWORD=${PHOENIX_PASSWORD}
PHOENIX_PORT=8443
PHOENIX_PUSH=False
TWITCHER_PROTECTED_PATH=/twitcher/ows/proxy
