<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>CRIM - {{ Main_Title }}</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div class=page>
        <div class="title">
            <h1>CRIM - {{ Main_Title }}</h1>
            <div class="title_gradient"></div>
            <div><h2>{{ Title }}</h2></div>
        </div>
        <div class="content">
            {% block body %}{% endblock %}
        </div>
    </div>
</body>
</html>
